.mango-footer {
  width: 100%;
  max-width: 1200px;
  background-color: #89472F;
  padding: 50px 20px;
  margin: 0 auto;
  min-height: 300px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.footer-image {
  width: 100%;
  max-width: 230px;
  height: auto;
  margin: 0 auto;
}

.footer-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.footer-links {
  position: absolute;
  display: flex;
}

.links-column {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 9.89px;
  padding: 9.89px;
}

.links-column h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5em;
  margin: 0 0 9.89px 0;
  color: #333333;
}

.links-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 9.89px;
}

.links-column a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
  color: #333333;
  text-decoration: none;
}

.footer-links2 {
  position: absolute;
  left: 291px;
  top: 16px;
}

.footer-links1 {
  position: absolute;
  left: 625px;
  top: 16px;
}


@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    gap: 80px;
    padding: 30px 20px;
  }

  .footer-links {
    flex-direction: row;
    gap: 60px;
  }

  .links-column {
    width: 220px;
  }

  .links-column h3 {
    font-size: 20px;
  }
}
